<h1 class="header-section">Scroll velocity</h1>

<div class="horizontal-section">
    <div class="boxes">
        <div class="box lets">Lets</div>
        <div class="box">Build</div>
        <div class="box">Your</div>
        <div class="box">Vision</div>
        <div class="box">Into</div>
        <div class="box">Reality,</div>
        <div class="box">Reach</div>
        <div class="box">Out</div>
        <div class="box today">Today<span class="exclamation">!</span>
        </div>
    </div>
</div>

<h1 class="header-section">Let's Build Your Vision into Reality, Reach Out Today!</h1>