<h1 class="header-section">Scroll velocity</h1>

<div class="horizontal-section">
    <div class="words">
        <div class="word lets">Lets</div>
        <div class="word">Build</div>
        <div class="word">Your</div>
        <div class="word vision">Vision</div>
        <div class="word">Into</div>
        <div class="word">Reality,</div>
        <div class="word">Reach</div>
        <div class="word">Out</div>
        <div class="word today">Today<span class="exclamation">!</span>
        </div>
    </div>
</div>

<h1 class="header-section">Let's Build Your Vision into Reality, Reach Out Today!</h1>